@tailwind base;
@tailwind components;
@tailwind utilities;
/*Montserrat 400 */

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*Montserrat 500 */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*Montserrat 600 */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Montserrat 700 */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* MontserratAlternates 600 */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("/fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*MontserratAlternates 700 */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("/fonts/MontserratAlternates-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif;
}

@keyframes draw {
  0% {
    stroke-dasharray: 0 300;
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    stroke-dasharray: 300 300;
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@keyframes fill {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

.animate-draw {
  stroke: white;
  stroke-width: 1;
  fill: white;
  fill-opacity: 0;
  animation: draw 1.5s ease-in-out forwards;
}

.animate-fill {
  fill-opacity: 0;
  animation: fill 1s ease-in-out 0.5s forwards;
}
